
.bg-custom-color {
  background-color: #A6B15C;
}
.bg-custom-color1 {
  background-color: #CFDCB3;
}
.bg-search {
  background-color: #d4944c42;
}

.text-customGray {
  color: #696984;
}

.text-customYellow {
  color: #F6CA30;
}

.text-customBlue {
  color: #2F327D;
}

.text-customOlive {
  color: #A6B15C;
}

.text-customOrange{
  color: #D4944C;
}

