html {
  scroll-behavior: smooth;
}

:root {
  --custom-color: #A6B15C;
  --custom-gray: #696984;
  --custom-yellow: #F6CA30;
  --custom-blue: #2F327D;
  --custom-olive: #A6B15C;
  --custom-orange: #D4944C;
}

.bg-custom-color {
  background-color: var(--custom-color);
}
.bg-custom-color1 {
  background-color: #CFDCB3;
}

.text-customGray {
  color: var(--custom-gray);
}

.text-customYellow {
  color: var(--custom-yellow);
}

.text-customBlue {
  color: var(--custom-blue);
}

.text-customOlive {
  color: var(--custom-olive);
}

.text-customOrange {
  color: var(--custom-orange);
}
