.reports-container {
    background: #F8F8F8;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  .reports-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .reports-header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .reports-header p {
    margin: 0;
    font-size: 14px;
    color: #717171;
  }
  
  .reports-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .reports-stat {
    text-align: center;
    flex: 1;
  }
  
  .reports-stat h3 {
    margin: 0;
    font-size: 24px;
    color: black;
  }
  
  .reports-stat p {
    margin: 0;
    font-size: 14px;
    color: #717171;
  }
  
  .reports-stat.active {
    border-bottom: 3px solid #D4944C;
   

  }
  